<html ng-app>
  <h1>Dice Game</h1>
  <hr>
  <body>
    <form action="">
      <fieldset ng-controller="RollDice">
        <legend>Craps Game: 1 Min / 1000 Max | 10X odds | Hard Ways are off on the comeout roll | We do take hop bets</legend>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><h2><span>{{ four }}</span></h2></th>
                <th><h2><span>{{ five }}</span></h2></th>
                <th><h2><span>{{ six }}</span></h2></th>
                <th><h2><span>{{ eight }}</span></h2></th>
                <th><h2><span>{{ nine }}</span></h2></th>
                <th><h2><span>{{ ten }}</span></h2></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div ng-show="come_bet_flat_on_4 != 0 "> 
                    <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-model="come_bet_odds_on_4" min="0" max="1000" /></p>
                    <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_4" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="come_bet_flat_on_5 != 0 "> 
                    <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-model="come_bet_odds_on_5" min="0" max="1000" /></p>
                    <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_5" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="come_bet_flat_on_6 != 0 "> 
                    <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-model="come_bet_odds_on_6" min="0" max="1000" /></p>
                    <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_6" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="come_bet_flat_on_8 != 0 "> 
                    <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-model="come_bet_odds_on_8" min="0" max="1000" /></p>
                    <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_8" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="come_bet_flat_on_9 != 0 "> 
                    <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-model="come_bet_odds_on_9" min="0" max="1000" /></p>
                    <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_9" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="come_bet_flat_on_10 != 0 "> 
                    <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-model="come_bet_odds_on_10" min="0" max="1000" /></p>
                    <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_10" min="0" max="1000" /></p>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div ng-show="point_is != 4 "> 
                    <label>Place Bet</label> <input type="number" id="btnSearch" ng-disabled="place_bets_are_off" ng-model="place_bet_on_the_4" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="point_is != 5 "> 
                    <label>Place Bet</label> <input type="number" id="btnSearch" ng-disabled="place_bets_are_off" ng-model="place_bet_on_the_5" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="point_is != 6 "> 
                    <label>Place Bet</label> <input type="number" id="btnSearch" ng-disabled="place_bets_are_off" ng-model="place_bet_on_the_6" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="point_is != 8 "> 
                    <label>Place Bet</label> <input type="number" id="btnSearch" ng-disabled="place_bets_are_off" ng-model="place_bet_on_the_8" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="point_is != 9 "> 
                    <label>Place Bet</label> <input type="number" id="btnSearch" ng-disabled="place_bets_are_off" ng-model="place_bet_on_the_9" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="point_is != 10 "> 
                    <label>Place Bet</label> <input type="number" id="btnSearch" ng-disabled="place_bets_are_off" ng-model="place_bet_on_the_10" min="0" max="1000" /></p>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <center><h1>COME</h1></center>
                  <div ng-show="game_status != 'Come Out Roll'"> 
                    <label>Come Bet</label> <input type="number" id="btnSearch" ng-model="place_come_bet" min="0" max="1000" /></p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        <div class="form-group">
          <label>Dealer Call: <span>{{ dealer_call }}</span></label></p>
          <label>Game Status: <span>{{ game_status }}</span><span>{{ point_is }}</span></label></p>
          <label>Die One: <span>{{ die_one }}</span></label></p>
          <label>Die Two: <span>{{ die_two }}</span></label></p>
          <label>Dice Total: <span>{{ the_call_is }}</span></label><span>{{ hard_soft }}</span></p>
          <input type="button" id="btnSearch" ng-model="dice" value="roll the dice" ng-click="roll();" />
          <hr>
          <label>Bank Roll: <span>{{ bank_roll_actual }}</span></label></p>
          <label>Line Bet </label> <input type="number" id="btnSearch" ng-model="line_bet" min="0" max="1000"  /></p>
          <div ng-show="game_status == 'Point is '">
            <label>Place Odds Behind The Line </label> <input type="number" id="btnSearch" ng-model="odds_behind_the_line" min="0" max="1000" /></p>
          </div>
          <h3>Advanced Options</h3>
          <input type="checkbox" ng-model="place_bets_are_off" /><label>Place Bets Off </label></p>
          <span>{{ place_bets_off_message }}</span></p>
          <input type="checkbox" ng-model="odd_on_come_bets" /><label>Odds On Come Bets </label></p>
          <span>{{ odds_on_come_bets_message }}</span></p>
        </div>
      </fieldset>
    </form>
  </body>
</html>
<script>
 
</script>
