<html ng-app>
  <h1>Dice Game</h1>
  <hr>
  <body>
    <form action="">
      <fieldset ng-controller="RollDice">
        <legend>Dice</legend>
        <div class="form-group">
          <label>Dealer Call: <span>{{ dealer_call }}</span></label></p>
          <label>Game Status: <span>{{ game_status }}</span><span>{{ point_is }}</span></label></p>
          <label>Dice Total: <span>{{ the_call_is }}</span></label></p>
          <input type="button" id="btnSearch" ng-model="foo" value="roll the dice" ng-click="roll();" />
        </div>
      </fieldset>
    </form>
  </body>
</html>
<script>
 
</script>
