<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
  <ul>
    <li class="row">
      <ul>
        <li class="box red">Box</li>
        <li class="box red">Box</li>
        <li class="box red">Box</li>
        <li class="box red">Box</li>
        <li class="box red">Box</li>
      </ul>
    </li>
    <li class="row">
      <ul>
        <li class="box orange">Box</li>
        <li class="box orange">Box</li>
        <li class="box orange">Box</li>
        <li class="box orange">Box</li>
        <li class="box orange">Box</li>
      </ul>
    </li>
    <li class="row">
      <ul>
        <li class="box yellow">Box</li>
        <li class="box yellow">Box</li>
        <li class="box yellow">Box</li>
        <li class="box yellow">Box</li>
        <li class="box yellow">Box</li>
      </ul>
    </li>
    <li class="row">
      <ul>
        <li class="box green">Box</li>
        <li class="box green">Box</li>
        <li class="box green">Box</li>
        <li class="box green">Box</li>
        <li class="box green">Box</li>
      </ul>
    </li>
    <li class="row">
      <ul>
        <li class="box blue">Box</li>
        <li class="box blue">Box</li>
        <li class="box blue">Box</li>
        <li class="box blue">Box</li>
        <li class="box blue">Box</li>
      </ul>
    </li>
    <li class="row">
      <ul>
        <li class="box purple">Box</li>
        <li class="box purple">Box</li>
        <li class="box purple">Box</li>
        <li class="box purple">Box</li>
        <li class="box purple">Box</li>
      </ul>
    </li>
  </ul>
</body>
</html>
