<html ng-app>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
    <form action="">
      <fieldset ng-controller="RollDice">
        <div class="row">
          <div class="col-xs-2 point_num">
            <div ng-show="dont_come_bet_flat_on_4 != 0 "> 
              <input type="number" id="btnSearch" ng-model="dont_come_bet_odds_on_4" min="0" max="1000" /></p>
              <label>Dont Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="dont_come_bet_flat_on_4" min="0" max="1000" /></p>
            </div>
            <div class="point_num_font">
              <h2><span class="ng-binding"><span>{{ four }}</span></span></h2>
            </div>
            <div ng-show="come_bet_flat_on_4 != 0 "> 
              <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-disabled='odds_on_come_bets_are_off' ng-model="come_bet_odds_on_4" min="0" max="1000" /></p>
              <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_4" min="0" max="1000" /></p>
            </div>
            <button class="btn btn-primary btn-lg ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="place_bet_on_4_button();"><span class="badge">{{ place_bet_on_the_4 }}</span></button>
          </div> <!-- /.col -->
          <div class="col-xs-2 point_num">
            <div ng-show="dont_come_bet_flat_on_5 != 0 "> 
              <label>Dont Come Bet (Lay)</label> <input type="number" id="btnSearch" ng-model="dont_come_bet_odds_on_5" min="0" max="1000" /></p>
              <label>Dont Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="dont_come_bet_flat_on_5" min="0" max="1000" /></p>
            </div>
            <div class="point_num_font">
              <h2><span class="ng-binding"><span>{{ five }}</span></span></h2>
            </div>
            <div ng-show="come_bet_flat_on_5 != 0 "> 
              <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-disabled='odds_on_come_bets_are_off' ng-model="come_bet_odds_on_5" min="0" max="1000" /></p>
              <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_5" min="0" max="1000" /></p>
            </div>
            <button class="btn btn-primary btn-lg ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="place_bet_on_5_button();"><span class="badge">{{ place_bet_on_the_5 }}</span></button>
          </div> <!-- /.col -->
          <div class="col-xs-2 point_num">
            <div ng-show="dont_come_bet_flat_on_6 != 0 "> 
              <label>Dont Come Bet (Lay)</label> <input type="number" id="btnSearch" ng-model="dont_come_bet_odds_on_6" min="0" max="1000" /></p>
              <label>Dont Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="dont_come_bet_flat_on_6" min="0" max="1000" /></p>
            </div>
            <div class="point_num_font">
              <h2><span class="ng-binding"><span>{{ six }}</span></span></h2>
            </div>
            <div ng-show="come_bet_flat_on_6 != 0 "> 
              <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-disabled='odds_on_come_bets_are_off' ng-model="come_bet_odds_on_6" min="0" max="1000" /></p>
              <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_6" min="0" max="1000" /></p>
            </div>
            <button class="btn btn-primary btn-lg ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="place_bet_on_6_button();"><span class="badge">{{ place_bet_on_the_6 }}</span></button>
          </div> <!-- /.col -->
          <div class="col-xs-2 point_num">
            <div ng-show="dont_come_bet_flat_on_8 != 0 "> 
              <label>Dont Come Bet (Lay)</label> <input type="number" id="btnSearch" ng-model="dont_come_bet_odds_on_8" min="0" max="1000" /></p>
              <label>Dont Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="dont_come_bet_flat_on_8" min="0" max="1000" /></p>
            </div>
            <div class="point_num_font">
              <h2><span class="ng-binding"><span>{{ eight }}</span></span></h2>
            </div>
            <div ng-show="come_bet_flat_on_8 != 0 "> 
              <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-disabled='odds_on_come_bets_are_off' ng-model="come_bet_odds_on_8" min="0" max="1000" /></p>
              <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_8" min="0" max="1000" /></p>
            </div>
            <button class="btn btn-primary btn-lg ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="place_bet_on_8_button();"><span class="badge">{{ place_bet_on_the_8 }}</span></button>
          </div> <!-- /.col -->
          <div class="col-xs-2 point_num">
            <div ng-show="dont_come_bet_flat_on_9 != 0 "> 
              <label>Dont Come Bet (Lay)</label> <input type="number" id="btnSearch" ng-model="dont_come_bet_odds_on_9" min="0" max="1000" /></p>
              <label>Dont Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="dont_come_bet_flat_on_9" min="0" max="1000" /></p>
            </div>
            <div class="point_num_font">
              <h2><span class="ng-binding"><span>{{ nine }}</span></span></h2>
            </div>
            <div ng-show="come_bet_flat_on_9 != 0 "> 
              <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-disabled='odds_on_come_bets_are_off' ng-model="come_bet_odds_on_9" min="0" max="1000" /></p>
              <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_9" min="0" max="1000" /></p>
            </div>
            <button class="btn btn-primary btn-lg ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="place_bet_on_9_button();"><span class="badge">{{ place_bet_on_the_9 }}</span></button>
          </div> <!-- /.col -->
          <div class="col-xs-2 point_num">
            <div ng-show="dont_come_bet_flat_on_10 != 0 "> 
              <label>Dont Come Bet (Lay)</label> <input type="number" id="btnSearch" ng-model="dont_come_bet_odds_on_10" min="0" max="1000" /></p>
              <label>Dont Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="dont_come_bet_flat_on_10" min="0" max="1000" /></p>
            </div>
            <div class="point_num_font">
              <h2><span class="ng-binding"><span>{{ ten }}</span></span></h2>
            </div>
            <div ng-show="come_bet_flat_on_10 != 0 "> 
              <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-disabled='odds_on_come_bets_are_off' ng-model="come_bet_odds_on_10" min="0" max="1000" /></p>
              <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_10" min="0" max="1000" /></p>
            </div>
            <button class="btn btn-primary btn-lg ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="place_bet_on_10_button();"><span class="badge">{{ place_bet_on_the_10 }}</span></button>
          </div> <!-- /.col -->
        </div>
        <br>
        <div class="row">
          <div class="col-xs-2 point_num">
            <button class="btn btn-primary btn-lg dont_come_bar ng-pristine ng-valid" ng-disabled="game_status == 'Come Out Roll'" type="button" ng-model="dice" value="Place Bet" ng-click="place_dont_come_bet_button();">Don't<br>Come<br>Bar<br><span class="badge">{{ place_dont_come_bet }}</span></button>
          </div>
          <div class="col-xs-2 point_num">
            <button class="btn btn-primary btn-lg dont_come_bar ng-pristine ng-valid" ng-disabled="game_status == 'Come Out Roll'" type="button" ng-model="dice" value="Place Bet" ng-click="place_come_bet_button();">Come<br><span class="badge">{{ place_come_bet }}</span></button>
          </div>
          <div class="col-xs-2 point_num">
            <label>Die One: <span>{{ die_one }}</span></label>
          </div>
          <div class="col-xs-2 point_num">
            <label>Die Two: <span>{{ die_two }}</span></label></p>
          </div>
          <div class="col-xs-2 point_num">
            <label>Dice Total: <span>{{ the_call_is }}</span></label><span>{{ hard_soft }}</span></p>
          </div>
          <div class="col-xs-2 point_num">
            <label>Game Status: <span>{{ game_status }}</span><span>{{ point_is }}</span></label></p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-4 point_num">
            <button class="btn btn-primary btn-lg dont_come_bar ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="place_field_bet_button();">Field<br>2 - 3 - 4 - 9 - 10 - 11 - 12<br><span class="badge">{{ field_bet }}</span></button>
          </div>
          <div class="col-xs-4 point_num">
            <label>Base Dealer Call: <span>{{ base_dealer_call }}</span></label>
          </div>
          <div class="col-xs-4 point_num">
            <label>Stickman Call: <span>{{ dealer_call }}</span></label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-4 point_num">
            <button class="btn btn-primary btn-lg dont_come_bar ng-pristine ng-valid" ng-disabled="game_status != 'Come Out Roll'" type="button" ng-model="dice" value="Place Bet" ng-click="dont_pass_line_bet_button();">Dont Pass<br><span class="badge">{{ dont_pass_line_bet }}</span></button><br>
            <button class="btn btn-primary btn-lg dont_come_bar ng-pristine ng-valid" ng-disabled="game_status == 'Come Out Roll'" type="button" ng-model="dice" value="Place Bet" ng-click="odds_behind_the_dont_pass_line_button();">Lay Odds<br><span class="badge">{{ odds_behind_the_dont_pass_line }}</span></button>
          </div>
          <div class="col-xs-4 point_num">
            <button class="btn btn-primary btn-lg dont_come_bar ng-pristine ng-valid" ng-disabled="game_status != 'Come Out Roll'" type="button" ng-model="dice" value="Place Bet" ng-click="line_bet_button();">Pass<br><span class="badge">{{ line_bet }}</span></button><br>
            <button class="btn btn-primary btn-lg dont_come_bar ng-pristine ng-valid" ng-disabled="game_status == 'Come Out Roll'" type="button" ng-model="dice" value="Place Bet" ng-click="odds_behind_the_line_button();">Odds Behind the Line<br><span class="badge">{{ odds_behind_the_line }}</span></button>
          </div>
          <div class="col-xs-4 point_num">
            <label>Bank Roll: <span>{{ bank_roll_actual }}</span></label></p>
            <input type="button" id="btnSearch" class="btn btn-default btn-lg" ng-model="dice" value="roll the dice" ng-click="roll();" />
          </div>
        </div>
        <div id="gameHelp" class="btn-group btn-block dropup">
          <button type="button" class="btn btn-default">Help</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <div class="dropdown-menu">
            Seven you Win, Seven you Lose
          </div>
        </div>
        <div id="aboutSite" class="btn-group btn-block dropup">
          <button type="button" class="btn btn-default">About</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <div class="dropdown-menu">
            <h3>I design Web Apps. Like this Craps Game buile in AngularJS. Checkout the Repo</h3>
          </div>
        </div>
        <div id="gameInfo" class="btn-group btn-block dropup">
          <button type="button" class="btn btn-default">Gaming Rules</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <div class="dropdown-menu">
            <h3>1 Min / 1000 Max 10X odds</h3>
            <h3>Hard Ways are off on the comeout roll</h3>
            <h3> We do take hop bets</h3>
          </div>
        </div>
        <div id="advOptions" class="btn-group btn-block dropup">
          <button type="button" class="btn btn-default">Adv Options</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <div class="dropdown-menu">
            <h3>Advanced Options</h3>
            <input type="checkbox" ng-model="place_bets_are_off" /><label>Place Bets Off </label></p>
            <span>{{ place_bets_off_message }}</span></p>
            <input type="checkbox" ng-model="odds_on_come_bets_are_off" /><label>Odds On Come Bets Off</label></p>
            <span>{{ odds_on_come_bets_message }}</span></p>
          </div>
        </div>
        <div id="propBets" class="btn-group btn-block dropup">
          <button type="button" class="btn btn-default">Prop Bets</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <center>
              <h4>Hard Ways<h4>
              <div class="btn-group-vertical">
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_hard_6_button();">Hard 6 <span class="badge">{{ prop_bet_hard_6 }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_hard_8_button();">Hard 8 <span class="badge">{{ prop_bet_hard_6 }}</span></button>
              </div>
              <div class="btn-group-vertical">
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_hard_10_button();">Hard 10 <span class="badge">{{ prop_bet_hard_10 }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_hard_4_button();">Hard 4 <span class="badge">{{ prop_bet_hard_4 }}</span></button>
              </div>
            </center>
            <center>
              <button class="btn btn-default" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_red_button();">Any Seven <span class="badge">{{ prop_bet_red }}</span></button>
              <div class="row">
                <div class="btn-toolbar btn-group">
                  <button class="btn btn-default" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_ace_deuce_button();">Ace Deuce <span class="badge">{{ prop_bet_ace_deuce }}</span></button>
                  <button class="btn btn-default" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_aces_button();">Aces <span class="badge">{{ prop_bet_aces }}</span></button>
                  <button class="btn btn-default" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_twelve_button();">Twelve <span class="badge">{{ prop_bet_twelve }}</span></button>
                </div>
              </div>
              <div class="row">
                <div class="btn-toolbar btn-group">
                  <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_craps_button();">Craps <span class="badge">{{ prop_bet_craps }}</span></button>
                  <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_yo_button();">Eleven <span class="badge">{{ prop_bet_yo }}</span></button>
                </div>
              </div>
            </center>
            <center>
              <div class="row">
                <center><h4>Hop Bets</h4></center>
              </div>
              <div class="row">
                <div class="btn-toolbar btn-group">
                  <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_6_1_button();">6-1 <span class="badge">{{ prop_bet_on_6_1 }}</span></button>
                  <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_5_2_button();">5-2 <span class="badge">{{ prop_bet_on_5_2 }}</span></button>
                  <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_4_3_button();">4-3 <span class="badge">{{ prop_bet_on_4_3 }}</span></button>
                </div>
              </div>
              <div class="btn-toolbar btn-group">
                <div class="row">
                  <div class="col-xs-2 point_num point_num_font">
                    <h3>4</h3>
                    <div class="btn-group-vertical">
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_3_1_button();">3-1 <br><span class="badge">{{ prop_bet_on_3_1 }}</span></button>
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_2_2_button();">2-2 <br><span class="badge">{{ prop_bet_on_2_2 }}</span></button>
                    </div>
                  </div>
                  <div class="col-xs-2 point_num point_num_font">
                    <h3>5</h3>
                    <div class="btn-group-vertical">
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_4_1_button();">4-1 <br><span class="badge">{{ prop_bet_on_4_1 }}</span></button>
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_3_2_button();">3-2 <br><span class="badge">{{ prop_bet_on_3_2 }}</span></button>
                    </div>
                  </div>
                  <div class="col-xs-2 point_num point_num_font">
                    <h3>6</h3>
                    <div class="btn-group-vertical">
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_5_1_button();">5-1 <br><span class="badge">{{ prop_bet_on_5_1 }}</span></button>
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_4_2_button();">4-2 <br><span class="badge">{{ prop_bet_on_4_2 }}</span></button>
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_3_3_button();">3-3 <br><span class="badge">{{ prop_bet_on_3_3 }}</span></button>
                    </div>
                  </div>
                  <div class="col-xs-2 point_num point_num_font">
                    <h3>8</h3>
                    <div class="btn-group-vertical">
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_6_2_button();">6-2 <br><span class="badge">{{ prop_bet_on_6_2 }}</span></button>
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_5_3_button();">5-3 <br><span class="badge">{{ prop_bet_on_5_3 }}</span></button>
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_4_4_button();">4-4 <br><span class="badge">{{ prop_bet_on_4_4 }}</span></button>
                    </div>
                  </div>
                  <div class="col-xs-2 point_num point_num_font">
                    <h3>9</h3>
                    <div class="btn-group-vertical">
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_6_3_button();">6-3 <br><span class="badge">{{ prop_bet_on_6_3 }}</span></button>
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_5_4_button();">5-4 <br><span class="badge">{{ prop_bet_on_5_4 }}</span></button>
                    </div>
                  </div>
                  <div class="col-xs-2 point_num point_num_font">
                    <h3>10</h3>
                    <div class="btn-group-vertical">
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_6_4_button();">6-4 <br><span class="badge">{{ prop_bet_on_6_4 }}</span></button>
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_5_5_button();">5-5 <br><span class="badge">{{ prop_bet_on_5_5 }}</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </center>
          </ul>
        </div>
      </fieldset>
    </form>
    Entertainment Purposes Only
  </body>
</html>
<script>
$('#advOptions .dropdown-menu').on({
  "click":function(e){
      e.stopPropagation();
    }
});
$('#propBets .dropdown-menu').on({
  "click":function(e){
      e.stopPropagation();
    }
});
</script>
