<html ng-app>
  <h1>Dice Game</h1>
  <hr>
  <body>
    <form action="">
      <fieldset ng-controller="RollDice">
        <legend>Dice</legend>
        <div class="form-group">
          <label>Dealer Call: <span>{{ dealer_call }}</span></label></p>
          <label>Game Status: <span>{{ game_status }}</span><span>{{ point_is }}</span></label></p>
          <label>Die One: <span>{{ die_one }}</span></label></p>
          <label>Die Two: <span>{{ die_two }}</span></label></p>
          <label>Dice Total: <span>{{ the_call_is }}</span></label><span>{{ hard_soft }}</span></p>
          <input type="button" id="btnSearch" ng-model="dice" value="roll the dice" ng-click="roll();" />
          <hr>
          <label>Bank Roll: <span>{{ bank_roll_actual }}</span></label></p>
          <label>Line Bet </label> <input type="number" id="btnSearch" ng-model="line_bet" min="0" max="1000"  /></p>
          <div ng-show="game_status == 'Point is '">
            <label>Place Odds Behind The Line </label> <input type="number" id="btnSearch" ng-model="odds_behind_the_line" min="0" max="1000" /></p>
          </div>
          <div ng-show="game_status == 'Point is '">
            <label>Place Bet on the 4 </label> <input type="number" id="btnSearch" ng-model="place_bet_on_4" min="0" max="1000" /></p>
          </div>
          <div ng-show="game_status == 'Point is '">
            <label>Place Bet on the 5 </label> <input type="number" id="btnSearch" ng-model="place_bet_on_5" min="0" max="1000" /></p>
          </div>
          <div ng-show="game_status == 'Point is '">
            <label>Place Bet on the 6 </label> <input type="number" id="btnSearch" ng-model="place_bet_on_6" min="0" max="1000" /></p>
          </div>
          <div ng-show="game_status == 'Point is '">
            <label>Place Bet on the 8 </label> <input type="number" id="btnSearch" ng-model="place_bet_on_8" min="0" max="1000" /></p>
          </div>
          <div ng-show="game_status == 'Point is '">
            <label>Place Bet on the 9 </label> <input type="number" id="btnSearch" ng-model="place_bet_on_9" min="0" max="1000" /></p>
          </div>
          <div ng-show="game_status == 'Point is '">
            <label>Place Bet on the 10 </label> <input type="number" id="btnSearch" ng-model="place_bet_on_10" min="0" max="1000" /></p>
          </div>
        </div>
      </fieldset>
    </form>
  </body>
</html>
<script>
 
</script>
