<html ng-app>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
    <form action="">
      <fieldset ng-controller="RollDice">
        <div class="container">
          <div class="well">
            <div class="col-xs-12 col-lg-6">
              <div class="btn-toolbar btn-group">
                <button class="btn btn-default ng-pristine ng-valid darkside_colors" type="button" ng-disabled="dont_come_bet_flat_on_4 == 0" ng-model="dice"><span ng-hide="dont_come_bet_flat_on_4 != 0" class="point_num_font_darkside">NO<br>4</span><span class="badge" ng-show="dont_come_bet_flat_on_4 != 0">{{ dont_come_bet_lay_on_4 }}<hr>{{ dont_come_bet_flat_on_4  }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid darkside_colors" type="button" ng-disabled="dont_come_bet_flat_on_5 == 0" ng-model="dice"><span ng-hide="dont_come_bet_flat_on_5 != 0" class="point_num_font_darkside">NO<br>5</span><span class="badge" ng-show="dont_come_bet_flat_on_5 != 0">{{ dont_come_bet_lay_on_5 }}<hr>{{ dont_come_bet_flat_on_5 }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid darkside_colors" type="button" ng-disabled="dont_come_bet_flat_on_6 == 0" ng-model="dice"><span ng-hide="dont_come_bet_flat_on_6 != 0" class="point_num_font_darkside">NO<br>6</span><span class="badge" ng-show="dont_come_bet_flat_on_6 != 0">{{ dont_come_bet_lay_on_6 }}<hr>{{ dont_come_bet_flat_on_6 }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid darkside_colors" type="button" ng-disabled="dont_come_bet_flat_on_8 == 0" ng-model="dice"><span ng-hide="dont_come_bet_flat_on_8 != 0" class="point_num_font_darkside">NO<br>8</span><span class="badge" ng-show="dont_come_bet_flat_on_8 != 0">{{ dont_come_bet_lay_on_8 }}<hr>{{ dont_come_bet_flat_on_8 }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid darkside_colors" type="button" ng-disabled="dont_come_bet_flat_on_9 == 0" ng-model="dice"><span ng-hide="dont_come_bet_flat_on_9 != 0" class="point_num_font_darkside">NO<br>9</span><span class="badge" ng-show="dont_come_bet_flat_on_9 != 0">{{ dont_come_bet_lay_on_9 }}<hr>{{ dont_come_bet_flat_on_9 }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid darkside_colors" type="button" ng-disabled="dont_come_bet_flat_on_10 == 0" ng-model="dice"><span ng-hide="dont_come_bet_flat_on_10 != 0" class="point_num_font_darkside">NO<br>10</span><span class="badge" ng-show="dont_come_bet_flat_on_10 != 0">{{ dont_come_bet_lay_on_10 }}<hr>{{ dont_come_bet_flat_on_10 }}</span></button>
              </div>
              <br>
              <div class="btn-toolbar btn-group">
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-disabled="come_bet_flat_on_4 == 0" ng-model="dice"><span ng-hide="come_bet_flat_on_4 != 0" class="point_num_font point_num_size">4</span><span class="badge" ng-show="come_bet_flat_on_4 != 0">{{ come_bet_flat_on_4 }}<hr>{{ come_bet_odds_on_4  }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-disabled="come_bet_flat_on_4 == 0" ng-model="dice"><span ng-hide="come_bet_flat_on_5 != 0" class="point_num_font point_num_size">5</span><span class="badge" ng-show="come_bet_flat_on_5 != 0">{{ come_bet_flat_on_5 }}<hr>{{ come_bet_odds_on_5  }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-disabled="come_bet_flat_on_4 == 0" ng-model="dice"><span ng-hide="come_bet_flat_on_6 != 0" class="point_num_font point_num_size">6</span><span class="badge" ng-show="come_bet_flat_on_6 != 0">{{ come_bet_flat_on_6 }}<hr>{{ come_bet_odds_on_6  }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-disabled="come_bet_flat_on_4 == 0" ng-model="dice"><span ng-hide="come_bet_flat_on_8 != 0" class="point_num_font point_num_size">8</span><span class="badge" ng-show="come_bet_flat_on_8 != 0">{{ come_bet_flat_on_8 }}<hr>{{ come_bet_odds_on_8  }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-disabled="come_bet_flat_on_4 == 0" ng-model="dice"><span ng-hide="come_bet_flat_on_9 != 0" class="point_num_font point_num_size">9</span><span class="badge" ng-show="come_bet_flat_on_9 != 0">{{ come_bet_flat_on_9 }}<hr>{{ come_bet_odds_on_9  }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-disabled="come_bet_flat_on_4 == 0" ng-model="dice"><span ng-hide="come_bet_flat_on_10 != 0" class="point_num_font point_num_size">10</span><span class="badge" ng-show="come_bet_flat_on_10 != 0">{{ come_bet_flat_on_10 }}<hr>{{ come_bet_odds_on_10 }}</span></button>
              </div>
              <br>
              <div class="btn-toolbar btn-group">
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="place_bet_on_4_button();"><span class="badge">{{ place_bet_on_the_4 }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="place_bet_on_5_button();"><span class="badge">{{ place_bet_on_the_5 }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="place_bet_on_6_button();"><span class="badge">{{ place_bet_on_the_6 }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="place_bet_on_8_button();"><span class="badge">{{ place_bet_on_the_8 }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="place_bet_on_9_button();"><span class="badge">{{ place_bet_on_the_9 }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="place_bet_on_10_button();"><span class="badge">{{ place_bet_on_the_10 }}</span></button>
              </div>
              <br>
              <div class="btn-toolbar btn-group">
                <button class="btn btn-pristine ng-pristine ng-valid darkside_colors" ng-disabled="game_status == 'Come Out Roll'" type="button" ng-model="dice" value="Place Bet" ng-click="place_dont_come_bet_button();"><span class="point_num_font_darkside">Don't<br>Come<br></span><span class="badge">{{ place_dont_come_bet }}</span></button>
                <button class="btn btn-default ng-pristine ng-valid" ng-disabled="game_status == 'Come Out Roll'" type="button" ng-model="dice" value="Place Bet" ng-click="place_come_bet_button();"><span class="point_num_font">Come<br>Bet<br></span><span class="badge">{{ place_come_bet }}</span></button>
              </div>
              <span>{{ die_one }} | </span>
              <span>{{ die_two }} = </span>
              <span>{{ the_call_is }}</span>
              <label>Call: <span>{{ dealer_call }}</span></label>
              <label>Bank Roll<span>{{ bank_roll_actual }}</span></label>
              <label>Base Dealer Call: <span>{{ base_dealer_call }}</span></label>
              <br>
              <button class="btn btn-default double_wide ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="place_field_bet_button();"><span class="point_num_font">Field </span><span class="badge">{{ field_bet }}</span><br><span class="point_num_font field_num_size">2-3-4-9-10-11-12</span>
            </div>
            <div class="col-xs-12 col-lg-6">
              <button class="btn btn-pristine ng-pristine ng-valid darkside_colors" ng-disabled="game_status != 'Come Out Roll'" type="button" ng-model="dice" ng-click="dont_pass_line_bet_button();"><span class="point_num_font_darkside">Don't<br>Pass<br></span><span class="badge">{{ dont_pass_line_bet }}</span></button>
              <button class="btn btn-default ng-pristine ng-valid" ng-disabled="game_status != 'Come Out Roll'" type="button" ng-model="dice" value="Place Bet" ng-click="line_bet_button();"><span class="point_num_font">Pass<br>Line</span><br><span class="badge">{{ line_bet }}</span></button>
              <br>
              <button class="btn btn-pristine ng-pristine ng-valid darkside_colors" ng-disabled="dont_pass_line_bet == 0 || game_status == 'Come Out Roll'" type="button" ng-model="dice" ng-click="odds_behind_the_dont_pass_line_button();"><span class="point_num_font_darkside">Lay<br></span><span class="badge">{{ odds_behind_the_dont_pass_line }}</span></button>
              <button class="btn btn-default ng-pristine ng-valid" ng-disabled="game_status == 'Come Out Roll'" type="button" ng-model="dice" value="Place Bet" ng-click="odds_behind_the_line_button();"><span class="point_num_font">Odds</span><br><span class="badge">{{ odds_behind_the_line }}</span></button>
              <button type="button" class="btn btn-default btn-lg btn-block">Bet Denomination</button>
              <input type="button" id="btnSearch" class="btn btn-default btn-lg" ng-model="dice" value="roll the dice" ng-click="roll();" />
              <br>
              <div class="btn-group dropup">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Mike Land - Web Developer</button>
                <ul class="dropdown-menu pull-right-about">
                  Craps game built in AngularJS
                </ul>
              </div>
              <div class="btn-group dropup">

                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">Prop Bets</button>
                <ul class="dropdown-menu pull-right-prop-bets">
                  <center>
                    <h4>Hard Ways<h4>
                    <div class="btn-group-vertical">
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_hard_6_button();">Hard 6 <span class="badge">{{ prop_bet_hard_6 }}</span></button>
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_hard_8_button();">Hard 8 <span class="badge">{{ prop_bet_hard_6 }}</span></button>
                    </div>
                    <div class="btn-group-vertical">
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_hard_10_button();">Hard 10 <span class="badge">{{ prop_bet_hard_10 }}</span></button>
                      <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_hard_4_button();">Hard 4 <span class="badge">{{ prop_bet_hard_4 }}</span></button>
                    </div>
                  </center>
                  <center>
                    <button class="btn btn-default" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_red_button();">Any Seven <span class="badge">{{ prop_bet_red }}</span></button>
                    <div class="row">
                      <div class="btn-toolbar btn-group">
                        <button class="btn btn-default" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_ace_deuce_button();">Ace Deuce <span class="badge">{{ prop_bet_ace_deuce }}</span></button>
                        <button class="btn btn-default" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_aces_button();">Aces <span class="badge">{{ prop_bet_aces }}</span></button>
                        <button class="btn btn-default" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_twelve_button();">Twelve <span class="badge">{{ prop_bet_twelve }}</span></button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="btn-toolbar btn-group">
                        <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_craps_button();">Craps <span class="badge">{{ prop_bet_craps }}</span></button>
                        <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_yo_button();">Eleven <span class="badge">{{ prop_bet_yo }}</span></button>
                      </div>
                    </div>
                    </p>
                    <div class="row">
                      <center>
                        <div class="btn-toolbar btn-group">
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_6_1_button();">6-1 <span class="badge">{{ prop_bet_on_6_1 }}</span></button>
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_5_2_button();">5-2 <span class="badge">{{ prop_bet_on_5_2 }}</span></button>
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_4_3_button();">4-3 <span class="badge">{{ prop_bet_on_4_3 }}</span></button>
                        </div>
                      </center>
                    </div>
                    <div class="row">
                      <center>

                        <div class="btn-toolbar btn-group">
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_3_1_button();">3-1 <br><span class="badge">{{ prop_bet_on_3_1 }}</span></button>
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_4_1_button();">4-1 <br><span class="badge">{{ prop_bet_on_4_1 }}</span></button>
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_5_1_button();">5-1 <br><span class="badge">{{ prop_bet_on_5_1 }}</span></button>
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_6_2_button();">6-2 <br><span class="badge">{{ prop_bet_on_6_2 }}</span></button>
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_6_3_button();">6-3 <br><span class="badge">{{ prop_bet_on_6_3 }}</span></button>
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_6_4_button();">6-4 <br><span class="badge">{{ prop_bet_on_6_4 }}</span></button>
                        </div>
                      </center>
                    </div>
                    <div class="row">
                      <center>
                        <div class="btn-toolbar btn-group">
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_2_2_button();">2-2 <br><span class="badge">{{ prop_bet_on_2_2 }}</span></button>
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_3_2_button();">3-2 <br><span class="badge">{{ prop_bet_on_3_2 }}</span></button>
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_4_2_button();">4-2 <br><span class="badge">{{ prop_bet_on_4_2 }}</span></button>
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_5_3_button();">5-3 <br><span class="badge">{{ prop_bet_on_5_3 }}</span></button>
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_5_4_button();">5-4 <br><span class="badge">{{ prop_bet_on_5_4 }}</span></button>
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_5_5_button();">5-5 <br><span class="badge">{{ prop_bet_on_5_5 }}</span></button>
                        </div>
                      </center>
                    </div>
                    <div class="row">
                      <center>
                        <div class="btn-toolbar btn-group">
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_3_3_button();">3-3 <br><span class="badge">{{ prop_bet_on_3_3 }}</span></button>
                          <button class="btn btn-default ng-pristine ng-valid" type="button" ng-model="dice" value="Place Bet" ng-click="prop_bet_on_4_4_button();">4-4 <br><span class="badge">{{ prop_bet_on_4_4 }}</span></button>
                        </div>
                      </center>
                    </div>
                  </center>
                </ul>
              </div>
              <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">Adv</button>
                <ul class="dropdown-menu pull-right-adv">
                  <h3>Advanced Options</h3>
                  <input type="checkbox" ng-model="place_bets_are_off" /><label>Place Bets Off </label></p>
                  <span>{{ place_bets_off_message }}</span></p>
                  <input type="checkbox" ng-model="odds_on_come_bets_are_off" /><label>Odds On Come Bets Off</label></p>
                  <span>{{ odds_on_come_bets_message }}</span></p>
                </ul>
              </div>
              <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">Game Info</button>
                <ul class="dropdown-menu pull-right-game-info">
                  5 min / 1000 max
                </ul>
              </div>
              <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">Help</button>
                <ul class="dropdown-menu pull-right-help">
                  Seven you win, Seven you lose
                </ul>
              </div>
            </div>
            <div class="row">
            </div>
          </div>
        </div>
              <div class="row">
                <center>
                </center>
              </div>
              <div class="row">
                <div>
                  </p>
                </div>
              </div>
              <div class="row">
                <div style="float: left;">
                  </p>
                </div>
              </div>
              <div class="row">
                <div style="float: left;">
                  </p>
                </div>
              </div>
              <div class="row">
                <div style="float: left;">
                </div>
              </div>
              <br>
              <br>
      </fieldset>
    </form>
  </body>
</html>
<script>
$('#advOptions .dropdown-menu').on({
  "click":function(e){
      e.stopPropagation();
    }
});
$('#propBets .dropdown-menu').on({
  "click":function(e){
      e.stopPropagation();
    }
});
</script>
