<meta name="viewport" content="width=device-width, initial-scale=1">
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-primary">Default button</button>
<button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-primary btn-xs">Mini button</button>
<div class="row">
  
  <div class="col-xs-2">
    <h2><span class="ng-binding">Four</span></h2>
    <input type="button" id="btnSearch" class="btn btn-primary btn-lg ng-pristine ng-valid" ng-model="dice" value="Place Bet" ng-click="place_bet_on_4_button();">
  </div> <!-- /.col -->
    
  <div class="col-xs-2">
    <h2><span class="ng-binding">Five</span></h2>
    <input type="button" id="btnSearch" class="btn btn-primary btn-lg ng-pristine ng-valid" ng-model="dice" value="Place Bet" ng-click="place_bet_on_4_button();">
  </div> <!-- /.col -->
    
  <div class="col-xs-2">
    <h2><span class="ng-binding">Six</span></h2>
    <input type="button" id="btnSearch" class="btn btn-primary btn-lg ng-pristine ng-valid" ng-model="dice" value="Place Bet" ng-click="place_bet_on_4_button();">
  </div> <!-- /.col -->
    
  <div class="col-xs-2">
    <h2><span class="ng-binding">Eight</span></h2>
    <input type="button" id="btnSearch" class="btn btn-primary btn-lg ng-pristine ng-valid" ng-model="dice" value="Place Bet" ng-click="place_bet_on_4_button();">
  </div> <!-- /.col -->
    
  <div class="col-xs-2">
    <h2><span class="ng-binding">Nine</span></h2>
    <input type="button" id="btnSearch" class="btn btn-primary btn-lg ng-pristine ng-valid" ng-model="dice" value="Place Bet" ng-click="place_bet_on_4_button();">
  </div> <!-- /.col -->
    
  <div class="col-xs-2">
    <h2><span class="ng-binding">Ten</span></h2>
    <input type="button" id="btnSearch" class="btn btn-primary btn-lg ng-pristine ng-valid" ng-model="dice" value="Place Bet" ng-click="place_bet_on_4_button();">
  </div> <!-- /.col -->
    
 </div> <!-- /.row -->
