<html ng-app>
  <h1>Dice Game</h1>
  <hr>
  <body>
    <form action="">
      <fieldset ng-controller="RollDice">
        <legend>Craps Game: 1 Min / 1000 Max | 10X odds | Hard Ways are off on the comeout roll | We do take hop bets</legend>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><h2><span>{{ four }}</span></h2></th>
                <th><h2><span>{{ five }}</span></h2></th>
                <th><h2><span>{{ six }}</span></h2></th>
                <th><h2><span>{{ eight }}</span></h2></th>
                <th><h2><span>{{ nine }}</span></h2></th>
                <th><h2><span>{{ ten }}</span></h2></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div ng-show="dont_come_bet_flat_on_4 != 0 "> 
                    <label>Dont Come Bet (Lay)</label> <input type="number" id="btnSearch" ng-model="dont_come_bet_odds_on_4" min="0" max="1000" /></p>
                    <label>Dont Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="dont_come_bet_flat_on_4" min="0" max="1000" /></p>
                  </div>
                  <div ng-show="come_bet_flat_on_4 != 0 "> 
                    <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-disabled='odds_on_come_bets_are_off' ng-model="come_bet_odds_on_4" min="0" max="1000" /></p>
                    <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_4" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="dont_come_bet_flat_on_5 != 0 "> 
                    <label>Dont Come Bet (Lay)</label> <input type="number" id="btnSearch" ng-model="dont_come_bet_odds_on_5" min="0" max="1000" /></p>
                    <label>Dont Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="dont_come_bet_flat_on_5" min="0" max="1000" /></p>
                  </div>
                  <div ng-show="come_bet_flat_on_5 != 0 "> 
                    <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-disabled='odds_on_come_bets_are_off' ng-model="come_bet_odds_on_5" min="0" max="1000" /></p>
                    <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_5" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="dont_come_bet_flat_on_6 != 0 "> 
                    <label>Dont Come Bet (Lay)</label> <input type="number" id="btnSearch" ng-model="dont_come_bet_odds_on_6" min="0" max="1000" /></p>
                    <label>Dont Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="dont_come_bet_flat_on_6" min="0" max="1000" /></p>
                  </div>
                  <div ng-show="come_bet_flat_on_6 != 0 "> 
                    <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-disabled='odds_on_come_bets_are_off' ng-model="come_bet_odds_on_6" min="0" max="1000" /></p>
                    <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_6" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="dont_come_bet_flat_on_8 != 0 "> 
                    <label>Dont Come Bet (Lay)</label> <input type="number" id="btnSearch" ng-model="dont_come_bet_odds_on_8" min="0" max="1000" /></p>
                    <label>Dont Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="dont_come_bet_flat_on_8" min="0" max="1000" /></p>
                  </div>
                  <div ng-show="come_bet_flat_on_8 != 0 "> 
                    <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-disabled='odds_on_come_bets_are_off' ng-model="come_bet_odds_on_8" min="0" max="1000" /></p>
                    <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_8" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="dont_come_bet_flat_on_9 != 0 "> 
                    <label>Dont Come Bet (Lay)</label> <input type="number" id="btnSearch" ng-model="dont_come_bet_odds_on_9" min="0" max="1000" /></p>
                    <label>Dont Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="dont_come_bet_flat_on_9" min="0" max="1000" /></p>
                  </div>
                  <div ng-show="come_bet_flat_on_9 != 0 "> 
                    <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-disabled='odds_on_come_bets_are_off' ng-model="come_bet_odds_on_9" min="0" max="1000" /></p>
                    <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_9" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="dont_come_bet_flat_on_10 != 0 "> 
                    <label>Dont Come Bet (Lay)</label> <input type="number" id="btnSearch" ng-model="dont_come_bet_odds_on_10" min="0" max="1000" /></p>
                    <label>Dont Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="dont_come_bet_flat_on_10" min="0" max="1000" /></p>
                  </div>
                  <div ng-show="come_bet_flat_on_10 != 0 "> 
                    <label>Come Bet (Odds)</label> <input type="number" id="btnSearch" ng-disabled='odds_on_come_bets_are_off' ng-model="come_bet_odds_on_10" min="0" max="1000" /></p>
                    <label>Come Bet (Flat)</label> <input type="number" id="btnSearch" ng-disabled=true ng-model="come_bet_flat_on_10" min="0" max="1000" /></p>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div ng-show="point_is != 4 "> 
                    <label>Place Bet</label> <input type="number" id="btnSearch" ng-disabled="place_bets_are_off" ng-model="place_bet_on_the_4" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="point_is != 5 "> 
                    <label>Place Bet</label> <input type="number" id="btnSearch" ng-disabled="place_bets_are_off" ng-model="place_bet_on_the_5" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="point_is != 6 "> 
                    <label>Place Bet</label> <input type="number" id="btnSearch" ng-disabled="place_bets_are_off" ng-model="place_bet_on_the_6" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="point_is != 8 "> 
                    <label>Place Bet</label> <input type="number" id="btnSearch" ng-disabled="place_bets_are_off" ng-model="place_bet_on_the_8" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="point_is != 9 "> 
                    <label>Place Bet</label> <input type="number" id="btnSearch" ng-disabled="place_bets_are_off" ng-model="place_bet_on_the_9" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <div ng-show="point_is != 10 "> 
                    <label>Place Bet</label> <input type="number" id="btnSearch" ng-disabled="place_bets_are_off" ng-model="place_bet_on_the_10" min="0" max="1000" /></p>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <center><h1>Don't COME</h1></center>
                  <div ng-show="game_status != 'Come Out Roll'"> 
                    <label>Don't Come Bet</label> <input type="number" id="btnSearch" ng-model="place_dont_come_bet" min="0" max="1000" /></p>
                  </div>
                </td>
                <td>
                  <center><h1>COME</h1></center>
                  <div ng-show="game_status != 'Come Out Roll'"> 
                    <label>Come Bet</label> <input type="number" id="btnSearch" ng-model="place_come_bet" min="0" max="1000" /></p>
                  </div>
                  <center><h1>Field</h1></center>
                  <label>Field Bet</label> <input type="number" id="btnSearch" ng-model="field_bet" min="0" max="1000" /></p>
                </td>
              </tr>
              <tr>
                <td>
                </td>
                <td>
                  <label>Base Dealer Call: <span>{{ base_dealer_call }}</span></label></p>
                  <label>Stickman Call: <span>{{ dealer_call }}</span></label></p>
                  <label>Game Status: <span>{{ game_status }}</span><span>{{ point_is }}</span></label></p>
                  <label>Die One: <span>{{ die_one }}</span></label></p>
                  <label>Die Two: <span>{{ die_two }}</span></label></p>
                  <label>Dice Total: <span>{{ the_call_is }}</span></label><span>{{ hard_soft }}</span></p>
                  <input type="button" id="btnSearch" ng-model="dice" value="roll the dice" ng-click="roll();" />
                  <hr>
                  <label>Bank Roll: <span>{{ bank_roll_actual }}</span></label></p>
                  <label>Pass Line Bet </label> <input type="number" id="btnSearch" ng-model="line_bet" min="0" max="1000"  /></p>
                  <div ng-show="game_status == 'Point is ' && line_bet > 0">
                    <label>Place Odds Behind The Line </label> <input type="number" id="btnSearch" ng-model="odds_behind_the_line" min="0" max="1000" /></p>
                  </div>
                  <label>Don't Pass Bet </label> <input type="number" id="btnSearch" ng-model="dont_pass_line_bet" min="0" max="1000"  /></p>
                  <div ng-show="game_status == 'Point is ' && dont_pass_line_bet > 0">
                    <label>Place Odds Behind The Line </label> <input type="number" id="btnSearch" ng-model="odds_behind_the_dont_pass_line" min="0" max="1000" /></p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        <div class="form-group">
          <table class="table table-striped">
            <thead>
              <center><h3>Prop Bets</h3></center>
              <center><h4>Hop Bets</h4></center>
              <center><h5>One Roll Bets</h5></center>
              <center><h5>Low Side Pays 16 for 1 (example: 3-1 dice must roll 3-1 or 1-3)</h5></center>
              <center><h5>High Side Pays 31 for 1 (example: 2-2 dice must roll 2-2)</h5></center>
              <tr>
                <th><h2><span>Four</span></h2></th>
                <th><h2><span>Five</span></h2></th>
                <th><h2><span>Six</span></h2></th>
                <th><h2><span>Eight</span></h2></th>
                <th><h2><span>Nine</span></h2></th>
                <th><h2><span>Ten</span></h2></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label>3-1</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_3_1" min="0" max="1000"  /></p>
                  <label>2-2</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_2_2" min="0" max="1000"  /></p>
                </td>
                <td>
                  <label>3-2</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_3_2" min="0" max="1000"  /></p>
                  <label>4-1</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_4_1" min="0" max="1000"  /></p>
                </td>
                <td>
                  <label>5-1</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_5_1" min="0" max="1000"  /></p>
                  <label>4-2</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_4_2" min="0" max="1000"  /></p>
                  <label>3-3</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_3_3" min="0" max="1000"  /></p>
                </td>
                <td>
                  <label>6-2</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_6_2" min="0" max="1000"  /></p>
                  <label>5-3</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_5_3" min="0" max="1000"  /></p>
                  <label>4-4</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_4_4" min="0" max="1000"  /></p>
                </td>
                <td>
                  <label>6-3</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_6_3" min="0" max="1000"  /></p>
                  <label>5-4</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_5_4" min="0" max="1000"  /></p>
                </td>
                <td>
                  <label>6-4</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_6_4" min="0" max="1000"  /></p>
                  <label>5-5</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_5_5" min="0" max="1000"  /></p>
                </td>
              </tr>
              <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                  <h4>Horn Numbers</h4>
                  <label>Aces</label> <input type="number" id="btnSearch" ng-model="prop_bet_aces" min="0" max="1000"  /></p>
                  <label>Ace Deuce</label> <input type="number" id="btnSearch" ng-model="prop_bet_ace_deuce" min="0" max="1000"  /></p>
                  <label>Twelve</label> <input type="number" id="btnSearch" ng-model="prop_bet_twelve" min="0" max="1000"  /></p>
                  <label>Yo Eleven</label> <input type="number" id="btnSearch" ng-model="prop_bet_yo" min="0" max="1000"  /></p>
                </td>
                <td>
                  <h4>Red</h4>
                  <label>6-1</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_6_1" min="0" max="1000"  /></p>
                  <label>5-2</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_5_2" min="0" max="1000"  /></p>
                  <label>4-3</label> <input type="number" id="btnSearch" ng-model="prop_bet_on_4_3" min="0" max="1000"  /></p>
                </td>
                <td>
                </td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>

          <h3>Advanced Options</h3>
          <input type="checkbox" ng-model="place_bets_are_off" /><label>Place Bets Off </label></p>
          <span>{{ place_bets_off_message }}</span></p>
          <input type="checkbox" ng-model="odds_on_come_bets_are_off" /><label>Odds On Come Bets Off</label></p>
          <span>{{ odds_on_come_bets_message }}</span></p>
        </div>
      </fieldset>
    </form>
    Entertainment Purposes Only
  </body>
</html>
