<html ng-app>
  <h1>Dice Game</h1>
  <hr>
  <body>
    <form action="">
      <fieldset ng-controller="RollDice">
        <legend>Dice</legend>
        <div class="form-group">
          <label>Dealer Call: <span>{{ dealer_call }}</span></label></p>
          <label>Game Status: <span>{{ game_status }}</span><span>{{ point_is }}</span></label></p>
          <label>Die One: <span>{{ die_one }}</span></label></p>
          <label>Die Two: <span>{{ die_two }}</span></label></p>
          <label>Dice Total: <span>{{ the_call_is }}</span></label><span>{{ hard_soft }}</span></p>
          <input type="button" id="btnSearch" ng-model="dice" value="roll the dice" ng-click="roll();" />
          <hr>
          <label>Bank Roll: <span>{{ bank_roll_actual }}</span></label></p>
          <label>Line Bet: <span>{{ line_bet }}</span></label></p>
          <label>Odds Behind the Line: <span>{{ odds_behind_the_line }}</span></label></p>
          <label>Amount to Bet: <span>{{ amount_to_bet }}</span></label></p>
          <input type="button" id="btnSearch" ng-model="bank_roll" value="place line bet" ng-click="place_line_bet();" /></p>
          <input type="button" id="btnSearch" ng-model="bank_roll" value="place odds behind the line" ng-click="place_odds_behind_the_line();" /></p>
          <input type="button" id="btnSearch" ng-model="bank_roll" value="bet 1" ng-click="bet_increase_1();" />
          <input type="button" id="btnSearch" ng-model="bank_roll" value="bet 5" ng-click="bet_increase_5();" />
          <input type="button" id="btnSearch" ng-model="bank_roll" value="bet 25" ng-click="bet_increase_25();" />
          <input type="button" id="btnSearch" ng-model="bank_roll" value="bet 100" ng-click="bet_increase_100();" />
          <input type="button" id="btnSearch" ng-model="bank_roll" value="bet 500" ng-click="bet_increase_500();" />
        </div>
      </fieldset>
    </form>
  </body>
</html>
<script>
 
</script>
